@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-acumin-condensed {
  font-family: 'acumin-variable', sans-serif;
  font-variation-settings: 'wdth' 68;
}
.font-acumin-semi-condensed {
  font-family: 'acumin-variable', sans-serif;
  font-variation-settings: 'wdth' 90;
}
.font-acumin-semi-condensed-92 {
  font-family: 'acumin-variable', sans-serif;
  font-variation-settings: 'wdth' 92, 'slnt' 0;
}
.font-acumin-semi-condensed-92 {
  font-family: 'acumin-variable', sans-serif;
  font-variation-settings: 'wdth' 92, 'slnt' 0;
}
.font-acumin-semi-condensed-95 {
  font-family: 'acumin-variable', sans-serif;
  font-variation-settings: 'wdth' 95, 'slnt' 0;
}

/* Marquee container */
/* .marquee-container { */
/* overflow: hidden; */
/* white-space: nowrap; */
/* width: 100%; */
/* position: relative; */
/* } */

/* Marquee content */
/* .marquee-content { */
/* display: inline-block; */
/* animation: marquee 20s linear infinite; */
/* } */

/* Marquee items */
/* .marquee-item { */
/* display: inline-block; */
/* margin-right: 40px; Adjust spacing between items */
/* } */

/* Marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
